body {
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#header {
    background: #37488b;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#header #logo
{
    width: 20px;
    vertical-align: middle;
}

#header #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#post {
    background: white;
    padding: 1em;
}